

services:
  postgresql:
    container_name: ms_pg_sql_rahwan
    image: postgres
    environment:
      POSTGRES_USER: rahwan
      POSTGRES_PASSWORD: rahwan
#      PGDATA: /data/postgres
    volumes:
#      - fayez:/data/postgres  # Named volume 'fayez' for PostgreSQL data
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql  # Mount init script
    ports:
      - "5432:5432"
    networks:
      - microservices-net
    restart: unless-stopped
#  redis:
#    image: redis:7.4.2
#    ports:
#      - "6379:6379"
#  pgadmin:
#    container_name: ms_pgadmin
#    image: dpage/pgadmin4
#    environment:
#      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin4@pgadmin.org}
#      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
#      PGADMIN_CONFIG_SERVER_MODE: 'False'
#    volumes:
#      - pgadmin:/var/lib/pgadmin  # Named volume 'pgadmin' for pgadmin data
#    ports:
#      - "5051:80"
#    networks:
#      - microservices-net
#    restart: unless-stopped
#
#  mongodb:
#    image: mongo
#    container_name: mongo_db
#    ports:
#      - 27017:27017
#    volumes:
#      - products:/data/db  # Named volume 'products' for MongoDB data
#    environment:
#      - MONGO_INITDB_ROOT_USERNAME=ali
#      - MONGO_INITDB_ROOT_PASSWORD=ali
#    networks:
#      - microservices-net
#
#  mongo-express:
#    image: mongo-express
#    container_name: mongo_express
#    restart: always
#    ports:
#      - 8086:8081
#    environment:
#      - ME_CONFIG_MONGODB_ADMINUSERNAME=ali
#      - ME_CONFIG_MONGODB_ADMINPASSWORD=ali
#      - ME_CONFIG_MONGODB_SERVER=mongodb
#    depends_on:
#      - mongodb
#    networks:
#      - microservices-net

#  zookeeper:
#    image: confluentinc/cp-zookeeper:latest
#    container_name: zookeeper
#    environment:
#      ZOOKEEPER_SERVER_ID: 1
#      ZOOKEEPER_CLIENT_PORT: 2181
#      ZOOKEEPER_TICK_TIME: 2000
#    ports:
#      - "22181:2181"
#    networks:
#      - microservices-net

#  kafka:
#    image: confluentinc/cp-kafka:latest
#    container_name: ms_kafka
#    ports:
#      - "9092:9092"
#    depends_on:
#      - zookeeper
#    environment:
#      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
#      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
#      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
#      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
#      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
#      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
#    networks:
#      - microservices-net

#  mail-dev:
#    container_name: ms-mail-dev
#    image: maildev/maildev
#    ports:
#      - 1080:1080
#      - 1025:1025
#    networks:
#      - microservices-net


#   Application Microservices (From the Image) needed for server only
#  eureka:
#    image: aliahmed1987/eureka:v1.0
#    container_name: eureka
#    ports:
#      - "8761:8761"  # Default Eureka port
#    environment:
#      - SPRING_PROFILES_ACTIVE=prod
##    depends_on:
##      - zookeeper
##      - kafka
#    networks:
#      - microservices-net
#    restart: unless-stopped
#
#  gateway:
#    image: aliahmed1987/gateway:v1.0
#    container_name: gateway
#    ports:
#      - "8080:8080"  # Adjust if your gateway uses a different port
##    volumes:
##          - /var/uploads:/uploads
#    environment:
#      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka:8761/eureka/
#      - SPRING_PROFILES_ACTIVE=prod
#    depends_on:
#      - eureka
#      - postgresql
#      - mongodb
#    networks:
#      - microservices-net
#    restart: unless-stopped
#
  requests:
    image: mohamedelhlawany/rahwan:v1.0
    container_name: rahwan
    ports:
      - "8089:8089"  # Adjust port if needed
#    volumes:
#      - /home/ubuntu/uploads:/home/ubuntu/uploads
    environment:
#      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka:8761/eureka/
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgresql:5432/rahwan
      - SPRING_DATASOURCE_USERNAME=rahwan
      - SPRING_DATASOURCE_PASSWORD=rahwan
##      - UPLOAD_DIR=/home/ubuntu/uploads/
#    depends_on:
#      - eureka
#      - postgresql
    networks:
      - microservices-net
    restart: unless-stopped
#
#  products:
#    image: aliahmed1987/products:v1.0
#    container_name: products
#    ports:
#      - "8082:8082"  # Adjust port if needed
##    volumes:
##      - /home/ubuntu/uploads:/home/ubuntu/uploads
#    environment:
#      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka:8761/eureka/
#      - SPRING_PROFILES_ACTIVE=prod
#      - SPRING_DATA_MONGODB_URI=mongodb://ali:ali@mongodb:27017/products?authSource=admin
##      - UPLOAD_DIR=/home/ubuntu/uploads/
#    depends_on:
#      - eureka
#      - mongodb
#    networks:
#      - microservices-net
#    restart: unless-stopped
#
#  identity-service:
#    image: aliahmed1987/identity-service:v1.0
#    container_name: identity-service
#    ports:
#      - "9898:9898"  # Adjust port if needed
##    volumes:
##      - /home/ubuntu/uploads:/home/ubuntu/uploads
#    environment:
#      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka:8761/eureka/
#      - SPRING_PROFILES_ACTIVE=prod
#      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgresql:5432/fayez
#      - SPRING_DATASOURCE_USERNAME=ali
#      - SPRING_DATASOURCE_PASSWORD=ali
##      - UPLOAD_DIR=/home/ubuntu/uploads/
#    depends_on:
#      - eureka
#      - postgresql
#    networks:
#      - microservices-net
#    restart: unless-stopped
#
#  coupons:
#    image: aliahmed1987/coupons:v1.0
#    container_name: coupons
#    ports:
#      - "8085:8085"  # Adjust port if needed
##    volumes:
##      - /home/ubuntu/uploads:/home/ubuntu/uploads
#    environment:
#      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka:8761/eureka/
#      - SPRING_PROFILES_ACTIVE=prod
#      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgresql:5432/coupons
#      - SPRING_DATASOURCE_USERNAME=ali
#      - SPRING_DATASOURCE_PASSWORD=ali
##      - UPLOAD_DIR=/home/ubuntu/uploads/
#    depends_on:
#      - eureka
#      - postgresql
#    networks:
#      - microservices-net
#    restart: unless-stopped
networks:
  microservices-net:
    driver: bridge

volumes:
  rahwan:
#  coupons:
#  requests:
#  pgadmin:
#  products:
#  uploads:
#    driver: local
#    driver_opts:
#      type: none
#      o: bind
#      device: /home/ubuntu/uploads/